@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --tomato-color: tomato;
  --whitesmoke-color: whitesmoke;
  --header-footer-color: #7373e0;
  --text-color: #5851b8;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--whitesmoke-color);
}

.container {
  width: 80%;
  margin: auto;
  background-color: var(--whitesmoke-color);
  padding: 1rem;
  height: 100vh;
  border-radius: 10px;
  text-align: center;
}

.child-container {
  background-color: var(--tomato-color);
  border-radius: 10px;
  width: 60vw;
  margin: auto;
  padding: 1rem;
}

h2 {
  text-align: center;
  color: var(--header-footer-color);
}

p {
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
}

input,
label {
  display: block;
  margin: auto;
}

button {
  margin: auto;
  padding: 0.5rem;
  background-color: var(--header-footer-color);
  border-radius: 5px;
  color: var(--whitesmoke-color);
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
  display: none;
  margin: auto;
}

.gif {
  margin: auto;
}

.social-media {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

li {
  display: inline;
  margin-left: 30%;
}

footer {
  width: 80%;
  margin: auto;
  background-color: var(--tomato-color);
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

#footer-text {
  text-align: center;
  color: var(--header-footer-color);
}
